*
{
    padding: 0;
    margin: 0;
    
}

/**********header********/
header
{
    width: 100%;
    background-color: #BBBBBB;
    padding: 20px 0;
}

nav
{
    position: absolute;
    top: 110px;
    right: 0;

}

nav li
{
    display: inline;
    margin-left: 15px;
}

nav a
{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/*******geral********/
body
{
    padding: 0px 10px 0px 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
  

}

h1
{
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.banner
{
    width: 100%;
}

a:hover
{
    color: black;
    background-color: white;
    
}

/***********final do header************/

/************sobre***************/

.caixa
{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

main
{
    align-items: center;
}

.sobre
{
    
    text-align: center;
    align-items: center;
    background: #FEFEFE;
    
}

.sobre p
{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 21px;
    text-align: left;
    
}

.sobre h1
{
    padding-top: 30px;
    
}


.vermelho
{
    color: red;
}

.utensilios
{
    width: 185px;
    padding-left: 240px;
    float: left;
    margin-top: 16px;
    margin-bottom: 60px;
    margin-right: 20px;
    
}
/***********final do sobre*************/
/************inicio do mapa************/

.mapa
{
    align-items: center;
    text-align: center;
    background: linear-gradient(#FEFEFE, #88888888);
}


.mapa-img
{
    width: 1200px;
    margin: 0 auto;
}

.mapa h3
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    background: linear-gradient(#FEFEFE, #88888888);
}

.mapa p
{

    padding-bottom: 20px;
    font-size: 21px;
    background:  #88888888;

}

/*****************final do mapa*******************/
/********inicio dos beneficios***********************/

.beneficios
{
   
    background: #88888888;
}

h2, .beneficios
{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
   
    
    
    
}

.conteudo-beneficios
{
    width: 640px;
    margin: 0 auto;
    
    
}

.lista
{
    /*
    padding-left: 210px;
    margin-right: 1200px;
    font-size: 20px;
    top: 75px;
    position: relative;
    text-align: left;
    border: 1px solid red;*/
    width: 40%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    
    
}

.linha
{
    line-height: 1.5;
}

.linha::before
{
   content: "🟊";
}

.beneficios-img
{
     
    width: 60%;
    opacity: 1;
    /*
    right: 550px;
    height: 250px;
    padding-bottom: 60px;
    position: absolute;
    top: 2280px;
    border: 1px solid green;*/
       
}

.beneficios-img:hover
{
    opacity: 0.3;
}

.video
{
   
   width: 560px;
   margin: 1em auto;
   padding-top: 50px;
   
}

/*********final de benefícios**********/
/**********inicio do footer*******/

footer
{
    text-align: center;
    background: url(../imagens/bg.jpg);
    padding: 40PX 0;
   
}

.copyright
{
  color: #FFFFFF;
  font-size: 13px;
  margin-top: 20px;

}

@media screen and (max-width: 400px)
{
    .caixa, .sobre, .conteudo-beneficios, .video, .mapa-img
    {
        width: auto;
    }

    h1
    {
        text-align: center;
    }
    
    nav
    {
        position: static;
    }

    .lista, .beneficios-img
    {
        width: 100%;
    }
}

