*
{
    padding: 0;
    margin: 0;
    
}

body
{
    padding: 0px 10px 0px 10px;
}

h1
{
    padding-top: 10px;
    padding-bottom: 10px;
}


p
{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 22px;
}

.banner
{
    width: 100%;
}

.sobre
{
    background-color: lightgray;
    text-align: center;
    
}

h1.sobre
{
    padding-top: 80px;
    padding-bottom: 10px;
   
}

.vermelho
{
    color: red;
}

.beneficios
{
    background-color: white;
}

h2.beneficios
{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.lista
{
    
    
    padding-left: 100px;
    margin-right: 1200px;
    font-size: 20px;
    top: 1230px;
    position:absolute;
    
   
    
}

.beneficios-img
{
    right: 230px;
    height: 500px;
    padding-bottom: 50px;
    position: absolute;
    top: 1200px;
   
   
    
}